body{
	padding-top: 30px;
	background-color:  #639FAB;
}

div{
	color: white;
}

h1 {
	padding-bottom: 20px;
}

i {
	font-size: 40px;
    padding-top: 20px;
    padding-bottom:  20px;
}

.btn-group {
	padding-top: 20px;
}

.btn {

	border-color:  #639FAB;
	color: white;
}

 button {
	opacity: 1;
}

button:hover{
	opacity: 0.75;
}



