body{
	padding-top: 30px;
	background-color:  #6D6875;
}

div{
	color: white;
}

h1 {
	padding-bottom: 20px;
}

i {
	font-size: 40px;
    padding-top: 20px;
    padding-bottom:  20px;
}

.btn-group {
	padding-top: 20px;
}

.btn {
	background-color: #B5838D;
	border-color:  #6D6875;
	color: white;
}

button {
	opacity: 1;
}

button:hover{
	opacity: 0.75;
}

button:focus {
    outline: none;
}
